.clock {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}

.hour-hand, .minute-hand, .second-hand {
    background-color: #000;
    position: absolute;
    transform-origin: bottom center;
}

.hour-hand {
    width: 6px;
    height: 70px;
    top: 30px;
    left: 97px;
    border-radius: 6px 6px 0 0;
}

.minute-hand {
    width: 4px;
    height: 90px;
    top: 10px;
    left: 98px;
    border-radius: 4px 4px 0 0;
}

.second-hand {
    width: 2px;
    height: 100px;
    top: 0;
    left: 99px;
    background-color: red;
    border-radius: 2px 2px 0 0;
}

.center-circle {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 94px;
    left: 94px;
}
